.App{
    max-width: 600px;
    margin: 40px auto;
    padding:20px;
}
.lista{
    list-style-type: none;
    padding: 10px 16px;
    margin: 10px 0;
    border-bottom: 1px solid #ebe4e4;
}
.lista:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);;
}
.lista h3{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}