*{
	font-family: 'Moon Flower', sans-serif;
        box-sizing: border-box;
}


@font-face{
	font-family: "Moon Flower";
	src: url("fonts/Moon Flower Bold.ttf");
}

@font-face{
	font-family: "Moon Flower";
	src: url("fonts/Moon Flower Bold.eot");
}

h1{
	background-image:url("img/brush.png");
	background-size: 30px 30px;
	background-repeat:no-repeat;
	padding-left:40px;
        
}


form#convertidor{
    width:500px;
    border:2px solid black;
    border-radius:2px;
    padding:10px;
    background-color:#e5c79c;
}

form#convertidor:after{
   content:"";
   display:block;
   clear:both;
}

form#convertidor .columna{
   width:32%;
   float:left;
}

#muestra{
    width:90%;
    margin:0 auto;
    height:75px;
    border:2px solid black;
    background-color:white;
    margin-top:40px;
}

#convertidor p{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
   text-decoration:underline;
}

#convertidor input{
    width:50px;
    margin:0 auto;
    margin-bottom:5px;
    display:block;
    border:1px solid black;
}

#convertidor input[type=button]{
    margin-bottom:20px;
    margin-top:10px;
    width:70%;
}

#convertidor input[type=text]{
    float:left;
    margin-left:5px;
}

#convertidor #primera{
    margin-top:40px;
}

.linea{
    width:50%;
    margin:0 auto;
}

.linea:after{
  content:"";
   display:block;
   clear:both;
}

#convertidor label{
    float:left;
    width:5px;
}


#convertidor input:focus{
    border:2px solid black;
    outline:0;
}

#convertidor input[type=text]:focus{
 background-color:#efe0c9;
}

.span-blue{
    color:#0000FF;
}

.span-red{
    color:#FF0000;
}

.span-green{
    color:#00FF00;
}

#errores{
        width:500px;
	padding-left:20px;
	color:#DD4040;
	padding:5px;
	padding-left:25px;
	background-color:rgba(150,0,0,0.2);
	border-radius:2px;
        border:2px solid black;
        clear:both;
        margin-top:10px;
}

#listado{
        width:500px;
	padding-left:20px;
	color:#40DD40;
	padding:5px;
	padding-left:25px;
	background-color:rgba(0,150,0,0.2);
	border-radius:2px;
        border:2px solid black;
        clear:both;
        margin-top:10px;
}

.oculto{            
     display:none;
}

.visible{
    display:block;
}


