*{
	font-family: 'Montserrat', sans-serif;
}

#formulario .linea_formulario{
	margin:15px;
	width:400px;
}

#formulario .linea_formulario label{
	float:left;
	width:30%;
}


#formulario .linea_formulario input[type="text"], 
#formulario .linea_formulario input[type="password"], 
#formulario .linea_formulario input[type="submit"],
#formulario .linea_formulario input[type="email"],
#formulario .linea_formulario input[type="date"],
#formulario .linea_formulario select,
#formulario .linea_formulario textarea,
#formulario .linea_formulario button
{
	float:left;
	width:60%;
	padding:2px;
	
}

#formulario .botones{
	margin:0 auto;
}

#formulario input:focus, #formulario #comentario:focus {
	border:2px solid black;
	outline:0px;
	background-color:#DBDBDB;
}


#formulario select{
	border:2px solid grey;
	outline:0px;
	background-color:#F2F2F2;
}

#formulario #comentario{
	height:100px;
	resize:none;
}

.limpia{
	clear:both;
}


.error{
	clear:both;
	background-image: url("img/error.png");
	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#d70000;
	padding:5px;
	padding-left:25px;
	border: 5px solid #d70000;
	background-color:rgba(200,0,0,0.2);
	border-radius:2px;
	margin:15px;
	display:none;
	
}

input:invalid {
	border: 2px dashed red;
  }
  
   
  input:valid {
	border: 2px solid black;
  }


.intentos{
	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#00793d;
	padding:5px;
	padding-left:25px;
	border: 5px solid #00793d;
	background-color:rgba(200,150,200,0.2);
	border-radius:2px;
	margin:15px;
}