#nombre{
	background-color:#F2F2F2;
}

*{
	font-family: 'Montserrat', sans-serif;
}

#formulario .linea_formulario{
	margin:15px;
	width:400px;
}

#formulario .linea_formulario label{
	float:left;
	width:30%;
}

#formulario .linea_formulario input[type="text"]
{
	float:left;
	width:60%;
	padding:2px;
}


.limpia{
	clear:both;
}

.error{
	clear:both;

	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#d70000;
	padding:5px;
	padding-left:25px;
	border: 5px solid #d70000;
	background-color:rgba(200,0,0,0.2);
	border-radius:2px;
	margin:15px;
	}

.intentos{
	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#00793d;
	padding:5px;
	padding-left:25px;
	border: 5px solid #00793d;
	background-color:rgba(200,150,200,0.2);
	border-radius:2px;
	margin:15px;
}

.info{
	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:#5e85c4;
	padding:5px;
	padding-left:25px;
	border: 5px solid #5e85c4;
	background-color:#d5dce8;
	border-radius:2px;
	margin:15px;
}


#fallo{
	color:red;
}

.correcto{
	clear:both;

	padding-left:20px;
	background-repeat:no-repeat;
	background-position: 5px center;
	color:rgb(0,255,0);
	padding:5px;
	padding-left:25px;
	border: 5px solid rgb(0,255,0);
	background-color:rgb(0,100,0);
	border-radius:2px;
	margin:15px;
}

.nletras{
	padding:10px;
	border:2px solid black;
}